<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AppsAdmin - Login</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <script src="~/Scripts/breezeMain.js"></script>
        <script src="~/Scripts/breeze.js"></script>
        <link href="~/Content/CoolBreezeStyle.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
