@model IEnumerable<SelectListItem>

<div class="modal fade" id="modal-container-29793-remove" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Delete Product
                </h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:200px;">
                            Meals:
                        </td>
                        <td>
                            @Html.DropDownList("prod", Model, new { id = "prod" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type the name of the meal
                        </td>
                        <td>
                            @Html.TextBox("prodname", null, new { id = "prodname", Style = "color:red;" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btn-close" class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button onclick="return validateDelete();" class="btn btn-danger">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div> 