@model string
<div class="box box-primary" style="position:relative;">
    <div class="box-header ui-sortable-handle" style="cursor:move;">

    </div>
    <a class="btn btn-app" id="modal-29791-new-meal" role="button" href="#modal-container-29791-new" data-toggle="modal" onclick="return setMode('@Model');">
        <i class="fa fa-barcode"></i>
        New Product
    </a>
    <a class="btn btn-app" id="modal-29792-manage" role="button" href="#modal-container-29792-manage" data-toggle="modal" onclick="return setMode('@Model');">
        <i class="fa fa-edit"></i>
        Manage Product
    </a>
    <a class="btn btn-app" id="modal-29793-remove" role="button" href="#modal-container-29793-remove" data-toggle="modal" onclick="return setMode('@Model');">
        <i class="fa fa-remove"></i>
        Delete Product
    </a>
</div>