@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#datepickerFrom').datepicker();
        $('#datepickerTo').datepicker();

        $('#sub').click(function (e) {
            
            if ($('#opt').val() == 'Users')
            {
                //alert('yes');
                $.ajax({
                    url: '/MultiTabber/Report/getMData?from='
                        + $('#datepickerFrom').val() + '&to='
                        + $('#datepickerTo').val(),
                    success: function (data) {
                        $('#conten').html(data);
                    },
                    cache: false
                });
            }
            else
            {
                $.ajax({
                    url: '/MultiTabber/Report/getEData',
                    success: function (data) {
                        $('#conten').html(data);
                    },
                    cache: false
                });
            }           
        });
    });
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        MultiTabber
        <small>Reports</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">MultiTabber</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <table>
        <tr>
            <td>
                <p>Select: 
                    <select id="opt">
                        <option>Users</option>
                        <option>Error</option>
                    </select>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p> FromDate: <input type="text" id="datepickerFrom"></p>
            </td>
            <td>
                <p> ToDate: <input type="text" id="datepickerTo"></p>
            </td>
        </tr>   
        <tr>
            <td>
                <p>Activity:<input id="num" type="text" value=""/></p>
            </td>
            <td></td>
        </tr>     
    </table>

    <input id="sub" type="button" value="Submit" />

    <div id="conten">

    </div>
</section>
<!-- /.content --> 
